// Place all the styles related to the votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.vote-title{
  text-align: center;
  font-size: 100px;
  color: rgb(6, 6, 240);
  background-color: rgb(204, 131, 155);
}

.vote-title{
  background-color: bisque;
}
.contact{
  background-color: rgb(34, 145, 108);
  font-size: 50px;
  display: flex;
  justify-content: center;
  

}

.vote-button{
  width: 50px;
}



.h1{
  width: 100vw;
  height: 20px;
  align-items: center;
  display: flex;
 
}

.vote-list{
  list-style: none;
  

  
}

.vote-button{

}
.wrapper{
  display: flex;
  width: 100vw;
  background-color: rgb(245, 229, 140);
}

.candidate{
  width: 50vw;
  font-size: 50px;

}
.vote{
  width: 50vw;
  font-size: 50px;
}
.result_list{
  list-style: none;
}

